idna>=3.4
textdistance>=4.5.0
tldextract>=3.4.4
dnspython>=2.4.2
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml
pandas>=2.0.3
colorama>=0.4.5
translators>=5.8.3
aiohttp>=3.8.5
aiolimiter>=1.1.0
asyncio>=3.4.3
